@model IEnumerable<MySongs.Common.DTOs.ListeningHistoryDto>
@{
    ViewData["Title"] = "Listening History";
}
<h1>Listening History</h1>
<table class="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>SongId</th>
            <th>ListenDate</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.SongId</td>
                <td>@item.ListenDate</td>
                <td>@item.Duration</td>
            </tr>
        }
    </tbody>
</table>