@model IEnumerable<MySongs.Common.DTOs.RecommendationDto>
@{
    ViewData["Title"] = "Recommendations";
}
<h1>Recommendations</h1>
<table class="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>SongId</th>
            <th>Score</th>
            <th>IsSeen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.SongId</td>
                <td>@item.Score</td>
                <td>@item.IsSeen</td>
            </tr>
        }
    </tbody>
</table>